body {
    font-family: sans-serif;
    background-color: #ffffff;
}

p {
    text-align: center;
}

.text1 {
    font-size: 1.5rem;
    margin-top: 20%;
}
.text2 {
    font-size: 1.5rem;
}

#grid {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.5rem;
}

.title {
    margin-top: 10%;
    text-align: center;
    display: grid;
    font-size: 1.5rem;
}


.box { 
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 3%;
    width: 100%;
    height: 40rem;
    background-color: #FCC988;
    margin: 10 10 10 10;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
}


.onoffswitch {
    margin: 0 auto;
    margin-top: 3%;
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "warm";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "cool";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 36px; margin: -3px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
